.result-section {
    .score-section {
        width: 100%;
        margin: 50px 0;
        .player-name {
            width: 100%;
            font-weight: bold;
            text-align: center;
            margin: 20px 0;
        }
        .score-wrapper {
            border-radius: 10px;
            width: 60%;
            margin: auto;
            display: flex;
            font-weight: bold;
            justify-content: space-around;
            font-size: 36px;
            padding: 20px;
            box-sizing: border-box;
            background-color: lightgray;
        }
    }
    .restart-button {
        background-color: rgb(99, 0, 99);
        box-shadow: none;
        border: none;
        width: 60%;
        margin: 0 20%;        
        color: white !important;
        box-sizing: border-box;
        padding: 10px 0;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: rgb(88, 0, 88);
            cursor: pointer;
        }
    }
}